.arrows{
  display: inline-block;
  margin-left: 79%;
  margin-top: 60px;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-right {
  transform: rotate(45deg);
  margin-bottom: -30px;
  margin-left: 25px;
}

.arrow-left {
  transform: rotate(-135deg);
  margin-bottom: -30px;
}

.arrow-right:hover{
  padding: 1px 0 0 2px;
}

.arrow-left:hover{
  padding: 2px 1px 0 0;
}

td {
  padding: 35px 0 0 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data_table{
  margin: 4% 15%;
  border-top: 1px solid black;
  padding: 40px 10px;
}

.elem_number{
  text-align: center;
  margin-right: 15px;
}

.elem_poster{
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  width: 150px;
  margin-bottom: 40px;
  margin-left: 25px;
  border-radius: 5px;

}

.elem_title{
  text-align: center;
  width: 200px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.elem_year{
  text-align: center;
  width: 100px;
  margin-bottom: 30px;
}

.elem_description{
  padding: 10px 60px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

html {
  background-color: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

