.elem_number{
  text-align: center;
  vertical-align: middle;
  margin: 13px;
}

.elem_poster{
  text-align: center;
  vertical-align: middle;
  margin-right: 50px;
  width: 150px;
}

.elem_title{
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.elem_year{
  text-align: center;
  vertical-align: middle;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}