@import url('https://fonts.googleapis.com/css?family=Roboto');

.argTable{
    background-color: #000;
    display: block;
    color: #fff;
    padding-left: 16px
}


.tableNumber{
    color: #fff;
}


.tableTitle{
    color: #fff;
}


.tablePoster{
    color: #fff;
}


.tableDate{
    color: #fff;
}
